@import 'variables.less';
@import 'mixins.less';
@import 'reset.less';
@import 'general.less';
@import 'navigation.less';
@import 'main.less';
@import 'cta.less';



body{
    background-color: red;
    .center-content{
        display: flex;
        width: 75%;
        background-image: url('/assets/home.png');
        justify-content: center;
        height: 80vh;
        h1{    
            font-size: 2rem;
            align-items: center;
            justify-content: center;
        }
    }
}
.artist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




